@media  only screen  and (max-width : 1200px) {
}
@media  only screen  and (max-width : 400px) {
  .header__cnt {
    padding: 0;
  }
  .header__logo img {
    width: 95px;
    margin-bottom: 0;
    height: 60px;
  }
}
