@font-face {
    font-family: 'MAN-Bold';
    src: url('MANEuropeCondensed-Bold.woff2') format('woff2'),
        url('MANEuropeCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MAN-Light';
    src: url('MANEurope-Light.woff2') format('woff2'),
        url('MANEurope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MAN-Regular';
    src: url('MANEuropeCondensed-Regular.woff2') format('woff2'),
        url('MANEuropeCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

